body {
    background-color: bisque;
}
label {
    color: rgb(68, 87, 100);
}
form{
    padding: 40px 50px;
    margin-bottom: 10px;

}
.f1:hover{
    background-color: aliceblue;
    transform: scale(1,1.2);
}